version: 2.1

setup: << pipeline.parameters.run-setup >>

orbs:
  continuation: circleci/continuation@0.2.0
  path-filtering: circleci/path-filtering@0.0.2

parameters:
  run-setup:
    type: boolean
    default: true
  run-a:
    type: boolean
    default: false
  run-b:
    type: boolean
    default: false
  run-all:
    type: boolean
    default: false

jobs:
  main:
    docker:
      - image: cimg/base:2020.01
    steps: 
      - checkout
      - run: "env"
      - continuation/continue:
          configuration_path: ./metaconfig.yml

  module-a:
    docker:
      - image: cimg/base:2020.01
    steps:
      - checkout
      - run: "echo 'Hello from module A!!'"
      - run: cat a/README.md

  module-b:
    machine: true
    steps:
      - checkout
      - run: "echo 'Hello from module B!'"
      - run: cat b/README.md

  module-b-post:
    docker:
      - image: alpine
    steps:
      - run: "echo 'Continuing module B'"
      - run: env

workflows:
  pre:
    when: << pipeline.parameters.run-setup >>
    jobs:
      - path-filtering/filter:
          # Compare files on main
          base-revision: main
          # Config for continuation; herein we reuse this config itself
          config-path: .circleci/config.yml
          # 3-column space-separated table for mapping; `path-to-test parameter-to-set value-for-parameter` for each row
          mapping: |
            .* run-setup false
            a/.* run-a true
            b/.* run-b true
            core.* run-all true

  module-a:
    when: 
      or: [ << pipeline.parameters.run-a >>, << pipeline.parameters.run-all >> ]
    jobs:
      - module-a
  module-b:
    when: 
      or: [<< pipeline.parameters.run-b >>, << pipeline.parameters.run-all >> ]
    jobs:
      - module-b
      - module-b-post:
          requires:
            - module-b